{
  "gui" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/holorulerconf/consoleheader.png",
      "fileBody" : "/interface/holorulerconf/consolebody.png"
    },
    "scriptCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [0, 34, 356, 149],
      "captureMouseEvents" : true,
      "captureKeyboardEvents" : false
    }
  },

  "scripts" : [
    "/scripts/util.lua", 
    "/scripts/vec2.lua", 
    "/interface/holorulerconf/holorulerconfgui.lua"
  ],
  "scriptDelta" : 2,
  "canvasClickCallbacks" : {"scriptCanvas": "canvasClickEvent"}
}
